<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <style type="text/css">
 
     #alart {
     	position: center;background: linear-gradient(to bottom, #33ccff 12%, #ffff99 74%);background-repeat: no-repeat;background-size: cover;

     }
    </style>
</head>
<body class="mainbody">
<div id="alert">
<h1 style="margin-right: 45%" align="right" dir="rtl">شكرا لك على مساعدتك      </h1>
 <h4 style="margin-left: 35%">Nous vous remercions pour votre aide</h4></div>
<footer>  copyright &copy MF</footer>
</body>
</html>